<ul class="nav navbar-nav collapse navbar-collapse">
    <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
    <li class="dropdown">
        <a href="#">Shop<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Catalog" asp-action="Shop">Products</a></li>
            @*<li><a asp-controller="Catalog" asp-action="Details">Product Details</a></li>*@
            <li><a asp-controller="Cart" asp-action="CheckOut">Checkout</a></li>
            <li><a asp-controller="Cart" asp-action="Index">Cart</a></li>
            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#">Blog<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Home" asp-action="Blogs">Blog List</a></li>
            <li><a asp-controller="Home" asp-action="BlogSingle">Blog Single</a></li>
        </ul>
    </li>
    <li><a asp-controller="Home" asp-action="Error404">404</a></li>
    <li><a asp-controller="Home" asp-action="ContactUs">Contact</a></li>    
    <li><a asp-controller="Employees" asp-action="Index" class="@IsActive("Employees")">Employees</a></li>    
    <li><a is-active-route asp-controller="WebApi" asp-action="Index">WEbApi</a></li>    

</ul>

@functions
{
    string IsActive(string Controller, string Action = "Index") =>
        Equals(Controller, ViewContext.RouteData.Values["Controller"])
            && Equals(Action, ViewContext.RouteData.Values["Action"]) 
            ? "active" : null;
}
